// Base styles:
html
  font-size 18px
  line-height 1.4em
  font-family $font-stack-main
  *
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    -webkit-tap-highlight-color transparent
    transition-duration 0.3s
    transition-delay 0s
    transition-property none

body
  text-align center
  font-size em(14)
  line-height 1.4em
  @media (min-width $lg_breakpoint)
    font-size 1em
    line-height 1.4em

.container
  max-width em(1120)
  margin 0 auto
  padding 0 2em
