.button
  position relative
  appearance none
  border none
  border-radius $radius
  padding 0.6em 1.2em
  background-color $blue
  background-image $blue_purple_gradient
  background-size 200% 100%
  background-position 100% 50%
  color #fff
  box-sizing border-box
  transition-property background, background-color, color, box-shadow
  &:hover, &:focus
    outline none
    background-color $purple
    background-position 0 50%
  &.outline
    background #fff
    border em(2) solid $purple
    color $purple
    &:hover, &:focus
      background $purple
      color #fff
  &.pill
    border-radius 10em
  &.shadow
    box-shadow 0 0.2em 2em #d2d2d2
    &:hover
      box-shadow 0 0.1em 0.2em #c2c2c2
