.button
  position relative
  appearance none
  border none
  border-radius $radius
  padding 0.7em 1.2em
  background-color $blue
  background-image $blue_purple_gradient
  background-size 200% 100%
  background-position 99% 50%
  color #fff
  box-sizing border-box
  transition-property background, background-color, color, box-shadow
  font-size em(22, 14)
  @media (min-width $lg_breakpoint)
    font-size em(22)
  &:hover, &:focus
    outline none
    background-color $purple
    background-position 0 50%
  &.outline
    background-color transparent
    background-image $purple_nothing_gradient
    background-size 300% 100%
    border em(2) solid $purple
    color $purple
    &:hover, &:focus
      color #fff
      background-position 0 50%
  &.pill
    border-radius 10em
  &.shadow
    box-shadow 0 0.2em 2em #d2d2d2
    &:hover, &:focus
      box-shadow 0 0.1em 0.2em #c2c2c2
  &.block
    display block
