section#intro
  padding-top 25vh !important
  transition-property padding
  background-image url('/images/devices_bg_small@1x.jpg')
  background-position center top
  background-size cover
  background-repeat no-repeat
  background-attachment fixed
  @media (min-resolution 1.4dppx)
    background-image url('/images/devices_bg_small@2x.jpg')
  @media (min-width $md_breakpoint)
    padding-top 35vh !important
  @media (min-width $lg_breakpoint)
    background-image url('/images/devices_bg_large@1x.jpg')
    @media (min-resolution 1.4dppx)
      background-image url('/images/devices_bg_large@2x.jpg')
  .button
    display block
    max-width em(200)
    margin 0 auto
