section#intro
  padding-top 25vh !important
  transition-property padding
  min-height 100vh
  @media (min-width $md_breakpoint)
    padding-top 35vh !important
    min-height 90vh
  .button
    display block
    max-width em(200)
    margin 0 auto
