section#intro
  padding-top 25vh !important
  transition-property padding
  @media (min-width (600/16)em)
    padding-top 35vh !important
  .button
    display block
    max-width em(200)
    margin 0 auto
