a
  text-decoration none
  padding 0.3em 0.5em
  background-color transparent
  border-radius $radius
  color $purple
  transition-property background-color, color
  &:hover, &:focus
    background-color $purple
    color #fff
    outline none
