.masthead
  fixed top 0 left 0 right 0
  height 5em
  z-index 100
  background-color transparent
  border-bottom em(1) solid transparent
  transition-property background-color, height, border-color
  transition-duration 0.1s
  .supports-no-js &, .reduced_header &
    height 3em
    background-color #fff
    background-color rgba(#fff, 0.95)
    border-bottom-color #eee
  @media (min-width $lg_breakpoint)
    height 7em
    .reduced_header &
      height 3em

.logo
  font-size 1em
  width em(176)
  height em(40)
  display block
  color transparent
  text-indent -999em
  float left
  header_element_spacing()
  background-image url('/images/artsquare_logo@1x.png')
  background-position center
  background-size auto em(40)
  background-repeat no-repeat
  @media (min-resolution 1.4dppx)
    background-image url('/images/artsquare_logo@2x.png')
  @media (min-resolution 2.4dppx)
    background-image url('/images/artsquare_logo@3x.png')
  .supports-svg &
    background-image url('/images/artsquare_logo.svg')
  @media (min-width $lg_breakpoint)
    width em(194)
    height em(44)
