#partners
  background-color #fff
  ul
    list-style none
    padding 0 1em
    white-space nowrap
  li
    padding 0
    margin 0
    width em(240, 14)
    height em(255, 14)
    box-sizing border-box
    display inline-block
    vertical-align top
    position relative
    & + li
      margin-left em(8, 14)
  a
    color #000
    display block
    border em(2, 14) solid #f2f2f2
    border-radius $radius
    hostile_takeover()
    transition-property border-color, color
    &:hover, &:focus
      background-color transparent
      border-color $purple
      color $blue
  .partner_info
    position absolute
    top 65%
    left 0
    right 0
    h3
      font-size em(20, 14)
    p
      font-size em(12, 14)
      margin-top 0.6em
  .partner_logo
    display flex
    flex-direction column
    justify-content center
    align-items center
    position absolute
    top 0
    left 0
    right 0
    bottom 35%
    img
      max-width 80%
      max-height em(80, 14)
      width auto
      flex-shrink 0
      flex-grow 0
  .partners_stage
    margin-left -3em
    margin-right -3em
    overflow scroll
  @media (min-width $lg_breakpoint)
    ul
      font-size em(14)
      width 100% !important
      white-space normal
      box-sizing border-box
    li
      width 22%
      margin-left 4%
      margin-bottom 2%
      &:nth-of-type(4n + 1)
        margin-left 0
    .partners_stage
      overflow auto
