#pricing
  background-image url('/images/pricing_bg_small@1x.jpg')
  background-position center top
  background-size cover
  background-repeat no-repeat
  background-attachment fixed
  @media (min-resolution 1.4dppx)
    background-image url('/images/pricing_bg_small@2x.jpg')
  @media (min-width $lg_breakpoint)
    background-image url('/images/pricing_bg_large@1x.jpg')
    @media (min-resolution 1.4dppx)
      background-image url('/images/pricing_bg_large@2x.jpg')
  .pricing_information
    margin-bottom 2em
    max-width em(860, 20)
    margin-left auto
    margin-right auto
  .pricing_package
    padding-bottom 3.8em
    max-width em(300)
    margin 0 auto
  .amount
    font-family 'Quicksand', sans-serif
    font-size 3em
  .currency
    font-family 'Quicksand', sans-serif
    font-size 1.4em
    position relative
    top -0.7em
    left -0.6em
  .cycle
    font-size 0.8em
    padding-left 0.6em
  ul
    list-style none
    padding 0 0.6em
    text-align left
    max-width em(260)
    margin 2em auto
  li
    font-size 0.7em
    padding 0.6em 0 0.6em 1.8em
    position relative
    &::before
      content '✔'
      font-size 1.2em
      display block
      position absolute
      top em(10)
      left 0
  @media (min-width $lg_breakpoint)
    display flex
    justify-content center
    .pricing_information
      float left
      max-width em(500)
      text-align left
    .pricing_package
      float right
      min-width em(300)
  @media (min-width $lg_breakpoint + 4)
    .pricing_information
      margin-right 3em
