#pricing
  .pricing_package
    padding-bottom 3.8em
    max-width em(300)
    margin 0 auto
  .amount
    font-family 'Quicksand', sans-serif
    font-size 3em
  .currency
    font-family 'Quicksand', sans-serif
    font-size 1.4em
    position relative
    top -0.7em
    left -0.6em
  .cycle
    font-size 0.8em
    padding-left 0.6em
  ul
    list-style none
    padding 0 0.6em
    text-align left
    max-width em(260)
    margin 2em auto
  li
    font-size 0.7em
    padding 0.6em 0 0.6em 1.8em
    position relative
    &::before
      content '✔'
      font-size 1.2em
      display block
      position absolute
      top em(10)
      left 0

