#content
  & > section
    box-sizing border-box
    padding 2.8em 1em
    @media (min-width $md_breakpoint)
      p
        font-size em(20)

.white_container
  background-color #fff
  color #000
  padding 3em 1em
  box-shadow 0 0.2em 1.4em rgba(#000, 0.2)

.blue_gradients
  background-color $blue
  color #fff
