-
  var partners = [{
    name: 'ArtChat',
    type: 'Ecommerce',
    url: '#',
    image: 'artchat'
  },{
    name: 'RedBubble',
    type: 'Merchandise',
    url: '#',
    image: 'redbubble'
  },{
    name: 'Artspan',
    type: 'Ecommerce',
    url: '#',
    image: 'artspan'
  },{
    name: 'Society 6',
    type: 'Merchandise',
    url: '#',
    image: 'society6'
  },{
    name: 'Saatchi',
    type: 'Original Sales',
    url: '#',
    image: 'saatchi'
  },{
    name: 'Daylighted',
    type: 'Ecommerce',
    url: '#',
    image: 'daylighted'
  },{
    name: 'WordPress',
    type: 'Personal Portfolio',
    url: '#',
    image: 'wordpress'
  },{
    name: 'Artcloud',
    type: 'Ecommerce',
    url: '#',
    image: 'artcloud'
  }]
