-
  var partners = [{
    name: 'ArtChat',
    url: '#',
    image: '//placehold.it/200x50'
  },{
    name: 'RB',
    url: '#',
    image: '//placehold.it/100'
  },{
    name: 'Daylighted',
    url: '#',
    image: '//placehold.it/200x45'
  },{
    name: 'Saatchi',
    url: '#',
    image: '//placehold.it/100'
  },{
    name: 'WordPress',
    url: '#',
    image: '//placehold.it/100'
  },{
    name: 'ArtSpan',
    url: '#',
    image: '//placehold.it/200x50'
  },{
    name: 'society6',
    url: '#',
    image: '//placehold.it/100'
  }]
