section#partners.partners
  h2 We’re adding new partner platforms every week
  p Sign up to let us know which platforms you want us to add next.
  ul
    li: a(href='#' target='_blank')
      img(src='//placehold.it/200x50' alt='partner_name')
    li: a(href='#' target='_blank')
      img(src='//placehold.it/100' alt='partner_name')
    li: a(href='#' target='_blank')
      img(src='//placehold.it/200x45' alt='partner_name')
    li: a(href='#' target='_blank')
      img(src='//placehold.it/100' alt='partner_name')
    li: a(href='#' target='_blank')
      img(src='//placehold.it/100' alt='partner_name')
    li: a(href='#' target='_blank')
      img(src='//placehold.it/200x50' alt='partner_name')
    li: a(href='#' target='_blank')
      img(src='//placehold.it/100' alt='partner_name')
