section#pricing.pricing.blue_gradients
  .container
    .pricing_information
      h2 Simple and transparent pricing
      p Your professional account gets you access to features like unlimited uploads, printing services, and tons of great educational resources.
    section.pricing_package.white_container
      h3 #[span.currency $]#[span.amount 10]#[span.cycle / mo]
      ul
        li ArtSquare academy membership
        li Complete portfolio analytics
        li Unlimited career resource guides
        li Direct sales integration
      a(href='/#signup').button.pill.outline.block Get Started
