section#tools.tools
  .container
    h2 Seamless integration, total control
    p As you upload a work, choose what platforms it's published to.
    p When an original work sells we'll let you know, and automagically notify the other platforms where your original is listed, so they know to mark the piece sold.
    img(src='/images/tools_screenshot_sm@1x.png' alt='Screenshot of ArtSquare tools' srcset='/images/tools_screenshot_sm@2x.png 730w, /images/tools_screenshot_sm@3x.png 1095w, /images/tools_screenshot_lg@1x.png 1132w, /images/tools_screenshot_lg@2x.png 2264w, /images/tools_screenshot_lg@3x.png 3396w')
