extends _layout

block vars

block content
  include sections/intro
  include sections/about
  include sections/tools
  include sections/partners
  include sections/pricing
  include sections/signup

block script
  script.
    (function (window, document) {
      var masthead = document.getElementById('masthead');

      window.addEventListener('scroll', toggle_masthead_bg);
      window.addEventListener('resize', toggle_masthead_bg);

      function toggle_masthead_bg (event) {
        if (document.body.scrollTop > 36) {
          masthead.className += masthead.className.match(/white_bg/) ? '' : ' white_bg';
        } else {
          masthead.className = masthead.className.replace(/ ?white_bg/, '');
        }
      }
    })(window, document);
