extends _layout

block vars

block content
  include sections/intro
  include sections/about
  include sections/tools
  include sections/partners
  include sections/pricing
  include sections/signup

block script
  script.
    (function (window, document) {
      var body = document.body;
      var className = 'reduced_header';
      var regex = new RegExp(' ?' + className, 'g');

      window.addEventListener('scroll', toggle_masthead_bg);
      window.addEventListener('resize', toggle_masthead_bg);

      function toggle_masthead_bg (event) {
        if (body.scrollTop > 36) {
          body.className += body.className.match(regex) ? '' : ' ' + className;
        } else {
          body.className = body.className.replace(regex, '');
        }
      }
    })(window, document);
  script.
    (function (window, document) {
      smoothScroll.init({
        selector: '[data-scroll]',
        offset: function () {
          if (Modernizr.mq('(min-width: 960px)')) {
            console.log('large!');
            return 55;
          } else {
            console.log('small!');
            return 43;
          }
        }
      });
    })(window, document);
