extends _layout

block vars

block content
  include sections/intro
  include sections/about
  include sections/tools
  include sections/partners
  include sections/pricing
  include sections/signup

block script
  //- All of this JS amounts to < 1KB after uglification;
  //- it’s not worth loading extenally.
  script
    include:uglify-js ../javascript/_header_appearance.js

  script
    include:uglify-js ../javascript/_nav_toggle.js

  script
    include:uglify-js ../javascript/_smooth_scrolling.js

  script
    include:uglify-js ../javascript/_form_submission.js
