nav#navigation.navigation
  ol
    li: a(href='/#about' data-scroll) About
    li: a(href='/#tools' data-scroll) Tools
    li: a(href='/#partners' data-scroll) Our Partners
    li: a(href='/#pricing' data-scroll) Pricing
    li: a(href='/#signup' data-scroll) Sign Up
    li.login: a(href='/login').button.pill.outline Login
  a(href='#masthead')#navigation_close.navigation_close Back to top
