nav#navigation.navigation
  ol
    li: a(href='/#about') About
    li: a(href='/#tools') Tools
    li: a(href='/#pricing') Pricing
    li: a(href='/#signup') Sign Up
    li: a(href='/login').button.pill.outline Login
